@import "../home-icon";
@import "../navbar";

body {
  background-color: antiquewhite;
  min-width: 500px;
}

::placeholder{
  opacity: 0.8 !important;
}

.success {
  display: none;
  font-size: 15px;
  color: green;
}

.failure {
  display: none;
  font-size: 15px;
  color: red;
}

input{
  margin-top: 10px;
}

.container{
  margin-top: 40px;
  font-size: 20px;
}

#label-head-param{
  margin: auto;
}

#final-btn-wrapper{
  margin-top: 25px;
  text-align: center;
}

#final-order{
  font-size: 20px;
  margin-bottom: 20px;
  width: 150px;
}

.fade:not(.show) {
  opacity: 0.5 !important;
}

#order-data-modal{
  opacity: 1 !important;
}

.modal-content{
  margin-top: 100px;
}

#wrap-drag{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 75px;
}

@offset: 10vw;

#zero{
  display: inline-block;
  //float: left;
  position: absolute;
  left: 60px + @offset;
  top: 215px;
}

#slide{
  //margin: 13px 20px 0px 20px;
  position: absolute;
  left: 90px + @offset;
  top: 230px;
  width: 200px;
  height: 0px;
  border: 2px solid brown;
  float: left;
  cursor: pointer;
}

#hundred{
  display: inline-block;
  //float: left;
  position: absolute;
  left: 310px + @offset;
  top: 215px;
}

#to-drag{
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  left: 80px + @offset;
  top: 220px;
  background-color: brown;
  width: 20px;
  height: 20px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.planet-gif {
  position: absolute;
  right: 20px;
  height: 200px;
  // width: 150px;
  display: none;
}

@media(max-width: 900px) {
  .planet-gif {
    height: 100px;
    top: 190px;
  }
}

#span-name {
  cursor: pointer;
}

#span-surname {
  cursor: pointer;
}

#span-phone {
  cursor: pointer;
}

#span-destination {
  cursor: pointer;
}

#name-alter {
  display: none;
}

#surname-alter {
  display: none;
}

#phone-alter {
  display: none;
}

#dest-alter {
  display: none;
}