body{
  background-color: crimson;
  min-width: 500px;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
}
#top-left, #top-right, #bottom-left, #bottom-right{
  background-color: antiquewhite;
  height: 35vh;
  text-align: center;
}

@border-radius: 20px;

#top-left, #top-right{
  border-radius: @border-radius @border-radius 0px 0px;
}

#top-left, #bottom-left{
  border-right: solid red;
}

#top-right, #bottom-right{
  border-left: solid red;
}

#bottom-left, #bottom-right{
  border-radius: 0px 0px @border-radius @border-radius;
}

#top{
  margin-top: 80px;
}

#bottom{
  margin-top: 3px;
}

.main-image{
  height: 45px;
  width: 45px;
  vertical-align: middle;
  margin-top: 61px;
  cursor: pointer;
}

#new-del{
  width: 68px;
}

.option{
  vertical-align: middle;
  font-size: 20px;
}

#my-dels-txt {
  cursor: pointer;
}

#new-del-txt {
  cursor: pointer;
}

#mini-shop-txt {
  cursor: pointer;
}

#pay-txt {
  cursor: pointer;
}