<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Universal Delivery</title>

    <link id="favicon" rel="shortcut icon" type="image/png" href="images/jupiter.png"/>

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Зауваження: тег head не закривається, тег body не відкривається -->
    <!-- Крім того, не вказано посилання на локальний less, щоб можна було читати зі свого файлу,
        а не обов'язково з main.less -->
