<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Universal Delivery</title>

    <link id="favicon" rel="shortcut icon" type="image/png" href="images/jupiter-favicon.png"/>

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <script	type="text/javascript"
               src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDF4j4eulT7M9kYJI7n2geHG9e6dukKohQ">
    </script>
    <script src="http://alderaan.arc.nasa.gov/maps/nasamaps.js"
            type="text/javascript"></script>
    <script	type="text/javascript"
               src="https://api.nasa.gov/planetary/apod?api_key=obDMj3rNkCqCCvq7qCw4ZLlpuJcYVYDKcI0ovt1t">
    </script> -->

    <!-- Зауваження: тег head не закривається, тег body не відкривається -->
    <!-- Крім того, не вказано посилання на локальний less, щоб можна було читати зі свого файлу,
        а не обов'язково з main.less -->
