<nav class="navbar navbar-light bg-light" style="z-index: 1;">
    <div class="icon icon-fill">
        <img src="./images/home.png" id="home-icon" alt="">
    </div>
    <img src="./images/info.png" id = "brand" data-toggle="tooltip" data-placement="bottom" title="Home" alt="">
    <div id="basket"><img src = "./images/shop-busket.png" data-toggle="tooltip" data-placement="bottom" title="Basket Image" alt="">
    <span id="cart-len">0</span>
    </div>
    <img src = "./images/user.png" id = "profile" data-toggle="tooltip" data-placement="bottom" title="My Profile" alt="">

</nav>