<nav class="navbar navbar-light bg-light" style="z-index: 1;">
    <div class="icon icon-fill">
        <img src="./images/home.png" id="home-icon" alt="">
    </div>
    <img src="./images/info.png" id = "brand" class="mr-auto" data-toggle="tooltip" data-placement="bottom" title="Home" alt="">
    <div>
    <div id="basket" class="ml-auto"><img src = "./images/shop-busket.png" data-toggle="tooltip" data-placement="bottom" title="Basket Image" alt="">
        <span id="cart-len">0</span>
    </div>
    <img src = "./images/user.png" id = "profile" data-toggle="tooltip" data-placement="bottom" title="My Profile" alt="">
    </div>

</nav>

<div class="modalBox">
    <div class="modal-wrap">
        <b>Why us?</b>
        <p>The most renown of deliveries, we, Universal Delivery, travel faster than sound! Anywhere you want, anything you want!<sup>1</sup></p>
        <b>Having troubles?</b>
        <p>Call us: +380-3955566-12! And we gladly will answer any of our questions!<sup>2</sup></p>
        <b>Our history</b>
        <p>We are the biggest and fastest delivery company in the world!<sup>3</sup>
            Our history predates to 2308, when 4 genius people once met and decided to make a delivery company on scale no one seen before.
            This event was the starting point for us - and for you to receive your packages!</p>
        <br><br><br><br><br><small>1. Only in Solar System and only up to 100 kg.</small>
        <small>2. Only some questions that are related to your delivery.</small>
        <small>3. As of date of 23/05/2465.</small>
        <div class="modalIcon icon-collapse ml-auto mb-2">
            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-512.png" class="closeModal" alt="">
        </div>
    </div>
</div>