<nav class="navbar navbar-light bg-light" style="z-index: 1;">
        <img src="./images/info.png" id = "brand" data-toggle="tooltip" data-placement="bottom" title="Home" alt="">
    <div id = "nav-top"><span>Super quick delivery - we travel faster than sound!</span></div>
    <div id = "nav-bottom"><span>Trouble? Call +380-395-5566-12!</span> <span id="to-hide">We are available at any time of the day!</span></div>
    <div><img src = "./images/shop-busket.png" id = "basket" data-toggle="tooltip" data-placement="bottom" title="Basket Image" alt="">
    <span id="cart-len">0</span>
    </div>
    <img src = "./images/user.png" id = "profile" data-toggle="tooltip" data-placement="bottom" title="My Profile" alt="">

    <div class="icon icon-fill">
        <img src="./images/home.png" id="home-icon" alt="">
    </div>
</nav>