<%- include('common/header'); -%>
<!-- LESS основний файл -->
<link rel="stylesheet/less" type="text/css" href="less/main.less" />
<!-- LESS JavaScript компілятор -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
</head>
<body>
<%- include('common/navbar'); -%>
<video autoplay muted loop id="myVideo">
    <source src="./videos/mainVideo.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
<div class="container">
    <div class = "row" id = "top">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6" id = "top-left">
            <img src = './images/home-removebg-preview.png' class="main-image" id = 'my-dels'>
            <div class = "option" id="my-dels-txt">My Deliveries</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6" id = "top-right">
            <img src = './images/postman-removebg-preview.png' class="main-image" id = 'new-del'>
            <div class = "option" id="new-del-txt">Order a Delivery</div>
        </div>
    </div>
    <div class="row" id = "bottom">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6" id = "bottom-left">
            <img src = './images/mi-removebg-preview.png' class="main-image" id = 'mini-shop'>
            <div class = "option" id="mini-shop-txt">Buy something?</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6" id = "bottom-right">
            <img src = './images/credit_card-removebg-preview.png' class="main-image" id = 'pay'>
            <div class = "option" id="pay-txt">Pay for Delivery</div>
        </div>
    </div>
</div>

<%- include('common/footer'); -%>