<%- include('common/header'); -%>

<div class="container">
    <div class = "row" id = "top">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6" id = "top-left">
            <img src = './images/home.jpg' id = 'my-dels'>
            <div class = "option">My Deliveries</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6" id = "top-right">
            <img src = './images/postman.jpeg' id = 'new-del'>
            <div class = "option">Create a New Delivery</div>
        </div>
    </div>
    <div class="row" id = "bottom">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6" id = "bottom-left">
            <img src = './images/mi.png' id = 'mini-shop'>
            <div class = "option">Buy something?</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6" id = "bottom-right">
            <img src = './images/credit_card.png' id = 'pay'>
            <div class = "option">Pay for Delivery</div>
        </div>
    </div>
</div>

<%- include('common/footer'); -%>