<%- include('common/header'); -%>
<!-- LESS файл -->
<!-- Написати: <link rel="stylesheet/less" type="text/css" href="less/***.less" /> -->
<!-- Якщо треба navbar => @import "navbar"; -->
<!-- Приклад -->
<link rel="stylesheet/less" type="text/css" href="less/payPage/payPageMain.less" />
<!-- Приклад -->
<!-- LESS JavaScript компілятор -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
<script src="//static.liqpay.ua/libjs/checkout.js"></script>
</head>
<body>
<%- include('common/navbar'); -%>

<div id = "liqpay"></div>

<div id = "unpaid-deliveries"></div>

<div id = "is-paid">
    Thank you! You paid for all your deliveries!
</div>

<div class = "wrapper">
    <div class = "slideup-for-sort">
        Sorted by: <span>Delivery Status</span>
        <img id = "main-arrow-down-pay" class = 'arrow-down' src = "images/arrowDown.png">
        <img id = "main-arrow-up-pay" class = 'arrow-up' src = "images/arrowUp.png">
    </div>
    <div class = "sort-item" id = "date-pay">
        Delivery Date
        <img id = "date-arrow-down-pay" class = 'arrow-down' src = "images/arrowDown.png">
        <img id = "date-arrow-up-pay" class = 'arrow-up' src = "images/arrowUp.png">
    </div>
    <div class = "sort-item" id = "cost-pay">
        Delivery Cost
        <img id = "cost-arrow-down-pay" class = 'arrow-down' src = "images/arrowDown.png">
        <img id = "cost-arrow-up-pay" class = 'arrow-up' src = "images/arrowUp.png">
    </div>
    <div class = "sort-item" id = "dest-pay">
        Destination
        <img id = "dest-arrow-down-pay" class = 'arrow-down' src = "images/arrowDown.png">
        <img id = "dest-arrow-up-pay" class = 'arrow-up' src = "images/arrowUp.png">
    </div>
    <div class = "sort-item" id = "status-pay">
        Delivery Status
        <img id = "status-arrow-down-pay" class = 'arrow-down' src = "images/arrowDown.png">
        <img id = "status-arrow-up-pay" class = 'arrow-up' src = "images/arrowUp.png">
    </div>
</div>

<%- include('common/footer'); -%>