#learn-name, #learn-surname, #learn-email, #validate-email{
  padding: 0px 30px 0px 30px;
  margin-top: 230px;
  display: none;
}

#validate-email {
  display: none;
}

#move-signup{
  margin-right: 30px;
  margin-top: 10px;
  float: right;
  display: none;
}